*.native                                                                                                                                                              
_build                                                                                                                                                               
*.o
*.s
*.byte
exe
**/llvm.out*
a.out
*.a
